/* padronização carregamento */

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

#azul {
    color: white;
}

#navegacao {
    background-color: #2f76b8;
    border-bottom: 3px solid white;
    height: 45px;
}

/*confifurando cabeçalho*/

#area_menu {
    width: 720px;
    margin: 0 auto;
}

#logo {
    float: left;
}

#menu {
    float: right;
    padding: 10px;
}

/* formatando os links do menu */

#menu a:visited {
    color: black;
}

#menu a:link {
    color: black;
}

#menu a {
    text-decoration: none;
    padding: 5px;
}

#menu a:hover {
    color: white;
    background-color: white;
}

/* area de postagem */

#area-principal{
    width: 620px;
    margin: 55px auto 10px auto;
}

#postagem{
    background-color: #b945b9;
    padding: 10px;
}

h2{
    color: white;
}

.data_postagem{
    font-size: 14px;
    border-bottom: 1px solid #2f76b8;
    padding-bottom: 12px;
    margin-bottom: 15px;
    display: block;
}

.img-postagem{
    max-width: 100%;
    border-radius: 25px;
}

.postado{
    border-top: 3px solid #2f76b8;
    padding-left: 10px;
    display: block;
    margin-top: 15px;
    padding-top: 15px;
}