/* Padronização para carregamento igual nos navegadores */

* {
    margin: 0;
    padding: 0;
    outline: 0;
}


div {
    width: 300px;
    margin: auto;
    background-color: rgb(0, 162, 255);
}

.azul {
    background-color: aqua;
}

.rosa {
    background-color: pink;
}

.vermelho {
    background-color: red;
}

.container {
    width: 100%;

}

.estado {
    width: 33.333%;
    float: left;
}

.divinline {
    width: 32%;
    display: inline-block;
}

.containerflex {
    display: flex;
}

.estadoflex {
    width: 33%;
}

.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
}